body{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: red;
    padding: 15px;
    display: flex;
}
.navbar a{
    text-decoration: none;
    font-size: 150%;
    font-weight: bold;
    color: white;
    margin: 0 auto;
    padding:  2px 15px;
}
.navbar a:hover{
    background-color: white;
    color: red;
    border-radius: 999px;
    animation: ease-in-out 2s;
}
.banner img{
    width: 100%;
}
.menu{
    display: grid;
    grid-template-columns: repeat(2, 50%)
}
#menu1, #menu2, #menu3, #menu4{
    background-color:gray;
    margin: 5px;
}
footer{
    background-color: red;
    padding: 15px;
    display: flex;
}
footer h2{
    font-size: 150%;
    font-weight: bold;
    color: white;
    margin: 0 auto;
    padding:  2px 15px;
}